= form_for @post do |f|
  .row
    .field.col.s4.offset-s4
      = f.label :タイトル
      %br/
      = f.text_field :title, autofocus: true, autocomplete: "title"
  .row
    .field.col.s6.offset-s3
      = f.label :内容
      = f.text_area :content, autocomplete: "content", class: "textarea"
  .row
    = f.submit "投稿", class: "waves-effect waves-light btn-large col s4 offset-s4"