.row
  .col.m10.offset-m1
    .card.blue-grey.darken-1.show
      .card-content.white-text
        %span.card-title
          = @post.title
        %p.card-text
          = @post.content
        %p.card-info
          = "投稿者：#{@author.name}"
        %p.card-info
          = @author.created_at
        %p.card-edit
          -if user_signed_in? && @author.id == current_user.id
            = link_to "/posts/#{@post.id}/edit", class: "waves-effect waves-teal btn" do
              記事の編集
              %i.material-icons.right edit
            = link_to "/posts/#{@post.id}", class: "waves-effect waves-teal btn", method: :delete do
              削除
              %i.material-icons.right delete
          = link_to :back, class: "waves-effect waves-teal btn" do
            戻る
            %i.material-icons.right arrow_back