!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title BlogSpace
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    %nav
      .nav-wrapper
        .brand-logo
          = link_to root_path do
            BlogSpace.
        %ul.right.hide-on-med-and-down
          - if user_signed_in?
            %li
              .waves-effect.waves-light.btn
                = link_to destroy_user_session_path do
                  ログアウト
          - else
            %li
              .waves-effect.waves-light.btn
                = link_to user_session_path do
                  ログイン
          %li
            %a.waves-effect.waves-light.btn
              Button
              %i.material-icons.right cloud
          %li
            %a.waves-effect.waves-light.btn-large Large Button    
    = yield
